body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.system-font { 
  font-family: '.HelveticaNeueDeskInterface-Regular';
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 1px;
  color: white;
  margin: 10px auto;
  padding: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.demo-layout-transparent {
  background: url('https://unsplash.it/2000/500') center / cover;
}
.demo-layout-transparent .mdl-layout__header, 
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: 87% black;
}

.demo-card-square.mdl-card {
  width: 1200px;
  height: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('https://unsplash.it/2000/500') bottom right 15% no-repeat #46B6AC;
}

.item-card.mdl-card {
  width: 100%;
  min-height: inherit;
  cursor: pointer;
}
.item-card .mdl-textfield {
  width: 100%;
}
.item-card .mdl-textfield__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  display: block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
}
.item-card label {
  font-size: 5px;
  font-weight: bold;
}

.mdl-layout__content {
  margin: 0 auto;
  padding: 0;
}

.demo-card-wide.mdl-card {
  width: 400px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://unsplash.it/400/174') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-radio {
  margin: 10 auto;
  padding: 10;
}